@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&family=Manrope:wght@600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
    /* Full Slider Bar */
    --softCyan : hsl(174, 77%, 80%);
    /* Slider Backround */
    --strongCyan : hsl(174, 86%, 45%);
    /* Discount Background */
    --lightGrayishRed : hsl(14, 92%, 95%);
    /* Discount Text */
    --lightRed : hsl(15, 100%, 70%);
    /* CTA Text */
    --paleBlue : hsl(226, 100%, 87%);
    /* Pricing Component Background */
    --white : hsl (0, 0%, 100%);
    /* Main Background */
    --veryPaleBlue : hsl(230, 100%, 99%);
    /* Empty Slider Bar */
    --lightGrayishBlue : hsl(224, 65%, 95%);
    /* Toggle Background */
    --lightGrayishBlue : hsl(223, 50%, 87%);
    /* Text */
    --grayishBlue : hsl(225, 20%, 60%);
    /* Text & CTA Background */
    --darkDesaturatedBlue : hsl(227, 35%, 25%);
}

/* //////////////////////// */
/* mobile styling */
/* //////////////////////// */

main.main-body {
  width: 37.5rem;
  height: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  background-color: var(--veryPaleBlue);
  background-image: url('./images/bg-pattern.svg');
  background-repeat: no-repeat;
  background-position: 0 -5rem;
  padding-top: 5rem;
}

/* Header */

section.header-container {
  width: 32.6rem;
  height: 14.5rem;
  background-image: url('./images/pattern-circles.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

section.header-container > h1.title {
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
  color: var(--darkDesaturatedBlue);
}

section.header-container > h3.header-text {
  width: 18.6rem;
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
  color: var(--grayishBlue);
}

/* Slider container */

section.content-container {
  width: 32.7rem;
  height: 47.8rem;
  position: absolute;
  top: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
  background-color: var(--veryPaleBlue);
  border-radius: 0.8rem;
}

section.content-container > section.slider-container {
  width: 32.7rem;
  height: 27.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

section.content-container > section.slider-container > h4.page-views {
  width: 12.4rem;
  height: 1.6rem;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 0.172rem;
  color: var(--grayishBlue);
}




/* Hide the default appearance */
section.content-container > section.slider-container > input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 27.9rem;
    height: .8rem;
    border-radius: 0.5rem;
    /* background: var(--softCyan); */
  }
  
  /* Track styles */
  section.content-container > section.slider-container > input[type="range"]::-webkit-slider-runnable-track {
    height: .8rem;
    border-radius: 5px;
    background-color: var(--softCyan);
  }
  
  /* Thumb styles */
  section.content-container > section.slider-container > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -16px;
    background-color: var(--softCyan);
    box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
    transition: all 0.2s ease-in-out;
  }

  section.content-container > section.slider-container > input[type="range"]::-webkit-slider-thumb:hover {
    cursor: pointer;
    background-color: var(--strongCyan);
  }
  
  section.content-container > section.slider-container > input[type="range"]::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  section.content-container > section.slider-container > input[type="range"]::-ms-thumb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  section.content-container > section.slider-container > div.price-container {
    width: 16.7rem;
    height: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }  

  section.content-container > section.slider-container > div.price-container > h4.price {
    font-weight: 800;
    font-size: 3.2rem;
    letter-spacing: 0.08rem;
    color: var(--darkDesaturatedBlue);
  }

  section.content-container > section.slider-container > div.price-container > p.per-month {
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--grayishBlue);
  }

  section.content-container > section.slider-container > div.billing-container {
    width: 30rem;
    height: 2.2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }

  section.content-container > section.slider-container > div.billing-container > p.monthly-bill {
    width: 8.5rem;
    height: 1.6rem;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    color: var(--grayishBlue);
  }

  section.content-container > section.slider-container > div.billing-container > div.switch-billing-box {
    width: 4.3rem;
    height: 2.2rem;
    background-color: var(--lightGrayishBlue);
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    transform: all 0.2s ease-in-out;
  }

  section.content-container > section.slider-container > div.billing-container > div.switch-billing-box:hover {
    cursor: pointer;
  }

  section.content-container > section.slider-container > div.billing-container > 
  div.switch-billing-box.selected {
    background-color: var(--softCyan);
    transition: all 0.2s ease-in-out;
  }

  section.content-container > section.slider-container > div.billing-container > 
  div.switch-billing-box > div.switch {
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--veryPaleBlue);
    border-radius: 5rem;
    margin-left: 0.4rem;
    transition: all 0.2s ease-in-out;
  }

  section.content-container > section.slider-container > div.billing-container > 
  div.switch-billing-box.selected > div.switch {
    margin-left: 2.4rem;
  }

  section.content-container > section.slider-container > div.billing-container >
   p.yearly-bill {
    width: 7.2rem;
    height: 1.6rem;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    color: var(--grayishBlue);
  }

  section.content-container > section.slider-container > div.billing-container > p.discount {
    width: 4.2rem;
    height: 1.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .95rem;
    background-color: var(--lightGrayishRed);
    font-weight: 800;
    font-size: 1rem;
    color: var(--lightRed);
  }

  /* slider container - footer */
  
  section.content-container > section.foot {
    width: 32.7rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: .1rem solid var(--lightGrayishBlue);
  } 

  section.content-container > section.foot > div.info {
    width: 14.8rem;
    height: 7.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  section.content-container > section.foot > div.info > h5 {
    max-width: 17.8rem;
    height: 7.1rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--grayishBlue);
    display: flex;
    align-items: center;
  }

  section.content-container > section.foot > div.info > h5::before {
    width: .695rem;
    height: .504rem;
    display: flex;
    align-items: center;
    content: url('./images/icon-check.svg');
    margin-right: 1rem;
  }

  section.content-container > section.foot > button.start {
    width: 17rem;
    height: 4.1rem;
    border: none;
    border-radius: 2.5rem;
    background-color: var(--darkDesaturatedBlue);
    font-weight: 800;
    font-size: 1.2rem;
    color: var(--paleBlue);
  } 

  section.content-container > section.foot > button.start:hover {
    cursor: pointer;
  }

  /* ////////////////////////////////////////////////// */
  /* //////// Desktop styling ///////////////////////// */
  /* ////////////////////////////////////////////////// */

  @media only screen and (min-width: 700px) {
    main.main-body {
      width: 144rem;
      height: 80rem;
      padding-top: 5rem;
    }
    
    /* Header */
    
    section.header-container {
      width: 39.5rem;
      height: 14.5rem;
    }
    
    section.header-container > h1.title {
      font-size: 2.8rem;
    }
    
    section.header-container > h3.header-text {
      width: 36.7rem;
      font-size: 1.5rem;
    }
    
    /* Slider container */
    
    section.content-container {
      width: 54rem;
      height: 39.7rem;
      position: absolute;
      top: 25rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
    
    section.content-container > section.slider-container {
      width: 54rem;
      height: 30rem;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 1rem 3rem;
    }
    
    section.content-container > section.slider-container > h4.page-views {
      width: 22rem;
      height: 1.6rem;
      font-size: 1.4rem;
      text-align: start;
      letter-spacing: 0.2rem;
      order: 0;
    }
    
    
    
    
    /* Hide the default appearance */
    section.content-container > section.slider-container > input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        width: 44rem;
        height: .8rem;
        border-radius: 0.5rem;
        order: 2;
      }
      
      /* Track styles */
      section.content-container > section.slider-container > input[type="range"]::-webkit-slider-runnable-track {
        height: .8rem;
        border-radius: 5px;
        background-color: var(--softCyan);
      }
      
      /* Thumb styles */
      section.content-container > section.slider-container > input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-top: -16px;
        background-color: var(--softCyan);
        box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
        transition: all 0.2s ease-in-out;
      }
    
      section.content-container > section.slider-container > input[type="range"]::-webkit-slider-thumb:hover {
        cursor: pointer;
        background-color: var(--strongCyan);
      }
      
      section.content-container > section.slider-container > input[type="range"]::-moz-range-thumb {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      
      section.content-container > section.slider-container > input[type="range"]::-ms-thumb {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    
      section.content-container > section.slider-container > div.price-container {
        width: 22rem;
        height: 5.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        order: 1;
        gap: 1rem;
      }  
    
      section.content-container > section.slider-container > div.price-container > h4.price {
        font-size: 4rem;
        letter-spacing: -.01rem;
      }
    
      section.content-container > section.slider-container > div.price-container > p.per-month {
        font-size: 1.6rem;
      }
    
      section.content-container > section.slider-container > div.billing-container {
        width: 50rem;
        height: 2.2rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        order: 2;
        margin-left: -10.5rem;
      }
       
      section.content-container > section.slider-container > div.billing-container > p.discount {
        width: 8rem;
      }
    
      /* slider container - footer */
      
      section.content-container > section.foot {
        width: 54rem;
        height: 19.7rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
      } 
  }