@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Inter", sans-serif;
}

:root {
    --softOrange: hsl(35, 77%, 62%);
    --softRed: hsl(5, 85%, 63%);
    --offWhite: hsl(36, 100%, 99%);
    --grayishBlue: hsl(233, 8%, 79%);
    --darkGrayishBlue: hsl(236, 13%, 42%);
    --veryDarkBlue: hsl(240, 100%, 5%);
}

/* Mobile styling */

main.main-container {
    width: 375px;
    height: 1872px;
    position: relative;
    overflow-x: hidden;
}

/* Overlay for active menu state */

main.main-container > div.overlay {
    position: absolute;
    width: 375px;
    height: 1872px;
    top: 0;
    left: 0;
    background-color: var(--veryDarkBlue);
    opacity: 0;
    transition: all 0.2 ease-in-out;
}

main.main-container > div.overlay.open {
    opacity: 0.5;
}

/* Header */

header.header-icon {
    width: 44.98px;
    height: 28px;
    margin-left: 20px;
    margin-bottom: 30px;
    padding-top: 15px;
}

header.header-icon > img.header-img {
    width: 41.56px;
    height: 27.51px;
}

/* Menu */

div.burger {
    position: absolute;
    width: 30.41px;
    height: 30.41px;
    right: 20px;
    top: 18px;
    z-index: 1;
    background-image: url("./images/icon-menu.svg");
    background-size: 30.41px, 30.41px;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
}

div.burger.open {
    background-image: url("./images/icon-menu-close.svg");
}

section.mobile-menu {
    width: 256px;
    height: 669px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--offWhite);
    transform: translateX(101%);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

section.mobile-menu.open {
    transform: translateX(0%);
    opacity: 1;
}

section.desktop-menu {
    display: none;
}

section.mobile-menu > div.mobile-menu-options {
    width: 203px;
    height: 216px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 25px;
    margin-top: 50%;
}

section.mobile-menu > div.mobile-menu-options > a {
    width: 203px;
    height: 24px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #00001A;
    transition: all 0.2s ease-in-out;
}

section.mobile-menu > div.mobile-menu-options > a:hover {
    color: var(--softRed);
}

/* Page title image & text */

section.page-title {
    width: 343px;
    height: 636px;
    margin: auto;
    margin-bottom: 80px;
}

section.page-title > div.title-img {
    width: 343px;
    height: 300px;
    background-image: url("./images/image-web-3-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 343px 300px;
}

section.page-title > div.main-content {
    width: 343px;
    height: 336px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

section.page-title > div.main-content > h1.main-title {
    width: 343px;
    height: 120px;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    color: var(--veryDarkBlue);
    margin-bottom: 10px;
}

section.page-title > div.main-content > p.main-text {
    width: 343px;
    height: 104px;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: var(--darkGrayishBlue);
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
}

section.page-title > div.main-content > button.read-more {
    width: 185px;
    height: 48px;
    border: none;
    background-color: var(--softRed);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 4.375px;
    text-transform: uppercase;
    color: var(--offWhite);
    outline: none;
}

section.page-title > div.main-content > button.read-more:hover {
    background-color: var(--veryDarkBlue);
    cursor: pointer;
}

/* New headlines section */

section.new {
    width: 340px;
    height: 489px;
    margin: auto;
    background-color: var(--veryDarkBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

section.new > h2.new-title {
    width: 70px;
    height: 32px;
    font-weight: 700;
    font-size: 32px;
    color: var(--softOrange);
    align-self: flex-start;
    padding-left: 20px;
    margin-bottom: 10px;
}

section.new > div.hydrogen-container,
section.new > div.AI-container,
section.new > div.funding-container {
    width: 302px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


section.new > div.hydrogen-container > h3.hydrogen-title,
section.new > div.AI-container > h3.AI-title,
section.new > div.funding-container > h3.funding-title {
    width: 286px;
    height: 24px;
    font-weight: 800;
    font-size: 20px;
    color: var(--offWhite);
    transition: all 0.2s ease-in-out;
}

section.new > div.hydrogen-container > h3.hydrogen-title:hover,
section.new > div.AI-container > h3.AI-title:hover,
section.new > div.funding-container > h3.funding-title:hover {
    color: var(--softOrange);
    cursor: pointer;
}

section.new > div.hydrogen-container > p.hydrogen-text,
section.new > div.AI-container > p.AI-text,
section.new > div.funding-container > p.funding-text {
    width: 302px;
    height: 52px;
    font-weight: 400;
    line-height: 26px;
    color: var(--grayishBlue);
}

section.new > div.breakline-one, 
section.new > div.breakline-two {
    width: 302px;
    height: 0.1px;
    background-color: var(--darkGrayishBlue);
}

/* Headlines section */

section.news-headlines {
    width: 343px;
    height: 451px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section.news-headlines > article {
    width: 343px;
    height: 129px;
    display: flex;
    justify-content: space-between;
}

section.news-headlines > article > img {
    width: 100px;
    height: 129px;
}

section.news-headlines > article > div {
    width: 219px;
    height: 129px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.news-headlines > article > div > h4 {
    width: 38px;
    height: 32px;
    font-weight: 700;
    font-size: 32px;
    color: var(--grayishBlue);
    transition: all 0.2s ease-in-out;
}

section.news-headlines > article > div > h5 {
    width: 219px;
    height: 24px;
    font-weight: 800;
    font-size: 18px;
    color: var(--veryDarkBlue);
    margin-top: 15px;
}

section.news-headlines > article > div > h5:hover {
    color: var(--softRed);
    cursor: pointer;
}

section.news-headlines > article > div > p {
    width: 219px;
    height: 52px;
    font-weight: 400;
    line-height: 26px;
    color: var(--darkGrayishBlue);
}

/* Desktop styling */

@media only screen and (min-width: 700px) {
    main.main-container {
        height: 1024px;
        width: 1440px;
    }

    /* Hide overlay */

    main.main-container > div.overlay {
        display: none;
    }

    /* Header icon */

    header.header-icon {
        width: 64.09px;
        height: 39.9px;
        padding-left: 145px;
        padding-top: 89px;
    }

    header.header-icon > img.header-img {
        width: 64.09px;
        height: 39.9px;
    }

    /* Menu */

    div.burger {
        display: none;
    }

    section.desktop-menu {
        display: block;
        width: 500px;
        height: 26px;
        position: relative;
        left: 750px;
        top: -230px;
        background-color: var(--offWhite);
        transform: translateX(0);
        opacity: 1;
    }

    section.desktop-menu > div.desktop-menu-options {
        width: 500px;
        height: 26px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
        margin-left: 0;
        margin-top: 50%;
    }

    section.desktop-menu > div.desktop-menu-options > a {
        max-width: 78px;
        height: 26px;
        font-size: 15px;
        font-weight: 400;
        text-decoration: none;
        color: #00001A;
        text-align: center;
        transition: all 0.2s ease-in-out;
    }

    section.desktop-menu > div.desktop-menu-options > a:hover {
        color: var(--softRed);
        cursor: pointer;
    }

    /* Main page grid display */

    section.main-grid-container {
        width: 1110px;
        height: 511px;
        margin: auto;
        margin-top: -160px;
        margin-bottom: 85px;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: 300px 181px;
        gap: 25px;
    }

    /* Page title image & text */

    section.page-title {
        width: 730px;
        height: 511px;
        margin: 0;
        margin-bottom: 0;
    }

    section.page-title > div.title-img {
        width: 730px;
        height: 300px;
        background-image: url("./images/image-web-3-desktop.jpg");
        background-repeat: no-repeat;
        background-size: 730px 300px;
        grid-column: 1 / 3;
    }

    section.page-title > div.main-content {
        width: 730px;
        height: 183px;
        display: grid;
        grid-template-columns: repeat(2, 350px);
        grid-template-columns: 104px, 48px;
        gap: 10px;
        margin-top: 35px;
    }

    section.page-title > div.main-content > h1.main-title {
        width: 350px;
        height: 182px;
        font-weight: 800;
        font-size: 56px;
        line-height: 56px;
        margin-bottom: 0;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        margin-left: -15px;
        margin-top: 10px;
    }

    section.page-title > div.main-content > p.main-text {
        width: 350px;
        height: 104px;
        margin-bottom: 20px;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    section.page-title > div.main-content > button.read-more {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    /* New headlines section */

    section.new {
        width: 350px;
        height: 531px;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

        /* Headlines section */

    section.news-headlines {
        width: 1110px;
        height: 129px;
        margin-top: 50px;
        flex-direction: row;
    }

    section.news-headlines > article {
        width: 343px;
        height: 129px;
        display: flex;
        justify-content: space-between;
    }

    section.news-headlines > article > img {
        width: 100px;
        height: 129px;
    }

    section.news-headlines > article > div {
        width: 219px;
        height: 129px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    section.news-headlines > article > div > h4 {
        width: 38px;
        height: 32px;
        font-weight: 700;
        font-size: 32px;
        color: var(--grayishBlue);
    }

    section.news-headlines > article > div > h5 {
        width: 219px;
        height: 24px;
        font-weight: 800;
        font-size: 18px;
        color: var(--veryDarkBlue);
        margin-top: 15px;
    }

    section.news-headlines > article > div > p {
        width: 219px;
        height: 52px;
        font-weight: 400;
        line-height: 26px;
        color: var(--darkGrayishBlue);
    }
}