@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Inter", sans-serif;
}

:root {
    --softOrange: hsl(35, 77%, 62%);
    --softRed: hsl(5, 85%, 63%);
    --offWhite: hsl(36, 100%, 99%);
    --grayishBlue: hsl(233, 8%, 79%);
    --darkGrayishBlue: hsl(236, 13%, 42%);
    --veryDarkBlue: hsl(240, 100%, 5%);
}

/* Mobile styling */

main.main-container {
    width: 375px;
    height: 1872px;
    position: relative;
    border: 1px solid black;
}

/* Overlay for active menu state */

main.main-container > div.overlay {
    position: absolute;
    width: 375px;
    height: 1872px;
    top: 0;
    left: 0;
    background-color: var(--veryDarkBlue);
    opacity: 0;
}

/* Header */

header.header-icon {
    width: 44.98px;
    height: 28px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

header.header-icon > img.header-img {
    width: 41.56px;
    height: 27.51px;
}

/* Menu */

div.burger {
    position: absolute;
    right: 20px;
    top: 25px;
    z-index: 1;
}

section.menu {
    width: 256px;
    height: 669px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--offWhite);
    transform: translateX(101%);
    opacity: 0;
}

section.menu > div.menu-options {
    width: 203px;
    height: 216px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 25px;
    margin-top: 50%;
}

section.menu > div.menu-options > a {
    width: 203px;
    height: 24px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #00001A;
}

/* Page title image & text */

section.page-title {
    width: 343px;
    height: 636px;
    margin: auto;
    margin-bottom: 80px;
}

section.page-title > img.title-img {
    width: 343px;
    height: 300px;
}

section.page-title > div.main-content {
    width: 343px;
    height: 336px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

section.page-title > div.main-content > h1.main-title {
    width: 343px;
    height: 120px;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    color: var(--veryDarkBlue);
    margin-bottom: 10px;
}

section.page-title > div.main-content > p.main-text {
    width: 343px;
    height: 104px;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: var(--darkGrayishBlue);
    margin-bottom: 20px;
}

section.page-title > div.main-content > button.read-more {
    width: 185px;
    height: 48px;
    border: none;
    background-color: var(--softRed);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 4.375px;
    text-transform: uppercase;
    color: var(--offWhite);
}

/* New headlines section */

section.new {
    width: 340px;
    height: 489px;
    margin: auto;
    background-color: var(--veryDarkBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

section.new > h2.new-title {
    width: 70px;
    height: 32px;
    font-weight: 700;
    font-size: 32px;
    color: var(--softOrange);
    align-self: flex-start;
    padding-left: 20px;
    margin-bottom: 10px;
}

section.new > div.hydrogen-container,
section.new > div.AI-container,
section.new > div.funding-container {
    width: 302px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


section.new > div.hydrogen-container > h3.hydrogen-title,
section.new > div.AI-container > h3.AI-title,
section.new > div.funding-container > h3.funding-title {
    width: 286px;
    height: 24px;
    font-weight: 800;
    font-size: 20px;
    color: var(--offWhite);
}

section.new > div.hydrogen-container > p.hydrogen-text,
section.new > div.AI-container > p.AI-text,
section.new > div.funding-container > p.funding-text {
    width: 302px;
    height: 52px;
    font-weight: 400;
    line-height: 26px;
    color: var(--grayishBlue);
}

section.new > div.breakline-one, 
section.new > div.breakline-two {
    width: 302px;
    height: 0.1px;
    background-color: var(--darkGrayishBlue);
}

/* Headlines section */

section.news-headlines {
    width: 343px;
    height: 451px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section.news-headlines > article {
    width: 343px;
    height: 129px;
    display: flex;
    justify-content: space-between;
}

section.news-headlines > article > img {
    width: 100px;
    height: 129px;
}

section.news-headlines > article > div {
    width: 219px;
    height: 129px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.news-headlines > article > div > h4 {
    width: 38px;
    height: 32px;
    font-weight: 700;
    font-size: 32px;
    color: var(--grayishBlue);
}

section.news-headlines > article > div > h5 {
    width: 219px;
    height: 24px;
    font-weight: 800;
    font-size: 18px;
    color: var(--veryDarkBlue);
    margin-top: 15px;
}

section.news-headlines > article > div > p {
    width: 219px;
    height: 52px;
    font-weight: 400;
    line-height: 26px;
    color: var(--darkGrayishBlue);
}

/* Desktop styling */

