@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    --almostWhite: hsl(0, 0%, 98%);
    --mediumGray: hsl(0, 0%, 41%);
    --almostBlack: hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Epilogue";
}

/* Main page display */

main.main-container {
    width: 375px;
    height: 780px;
    position: relative;
}

/* Menu */

section.menu {
    width: 240px;
    height: 100vh;
    background-color: var(--almostWhite);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    transform: translateX(100%);
    display: none;
    transition: all 0.2s ease-in;
    z-index: 1;
}

section.menu.open {
    transform: translateX(0%);
    display: block
}

/* Hide desktop menu on mobile view */

/* section.desktop-menu {
    display: none;
} */

/* Menu features section */

section.menu > div.features-container {
    width: 180px;
    max-height: 100%;
}

section.menu > div.features-container > div.feature-header {
    width: 96px;
    height: 26px;
    display: flex;
    align-items: center;
}

section.menu > div.features-container > div.feature-header > h4.features {
    width: 96px;
    height: 26px;
    font-weight: 500;
    font-size: 16px;
    color: var(--mediumGray);
}

section.menu > div.features-container > div.feature-header > span.chevron {
    width: 10px;
    height: 10px;
    background-image: url("./images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-size: 8px 4px;
    color: var(--mediumGray);
    margin-top: -4px;
}

section.menu > div.features-container > div.features-options {
    width: 119px;
    height: 152px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 20px;
}

section.menu > div.features-container > div.features-options > div {
    width: 116px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

section.menu > div.features-container > div.features-options > div > p {
    font-weight: 500;
    font-size: 16px;
    color: var(--mediumGray);
}

section.menu > div.features-container > div.features-options > div.reminders {
    padding-left: 18px;
    gap: 20px;
}

section.menu > div.features-container > div.features-options > div > img {
    width: 20px;
    height: 20px;
}

/* Mobile menu company section */

section.menu > div.company-container {
    width: 125px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.menu > div.company-container > div.company-header {
    width: 96px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.menu > div.company-container > div.company-header > h4.company {
    font-weight: 500;
    font-size: 16px;
    color: var(--mediumGray);
}

section.menu > div.company-container > div.company-header > span.chevron {
    width: 10px;
    height: 10px;
    background-image: url("./images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-size: 8px 4px;
    color: var(--mediumGray);
}

section.menu > div.company-container > div.company-options {
    width: 76px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
}

section.menu > div.company-container > div.company-options > p {
    width: 76px;
    height: 26px;
    font-weight: 500;
    font-size: 16px;
    color: var(--mediumGray);
}

section.menu > div.careers, section.menu > div.about {
    width: 64px;
    height: 26px;
    font-weight: 500;
    font-size: 16px;
    color: var(--mediumGray);
    margin-bottom: 5px;
}

section.menu > button.login, section.menu > button.register {
    width: 195px;
    height: 42px;
    margin-left: -16px;
    margin-top: 2px; 
    font-weight: 500;
    font-size: 14px;
    color: var(--mediumGray);
    background-color: var(--almostWhite);
}

section.menu > button.login {
    border: none;
}

section.menu > button.register {
    border: 1.5px solid var(--mediumGray);
    border-radius: 14px;
}

/* Active menu overlay */

div.overlay {
    width: 375px;
    height: 785px;
    background-color: var(--mediumGray);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

div.overlay.open {
    opacity: 0.5;
}

/* Header logo */

header.page-header {
    width: 87px;
    height: 35px;
    padding-left: 9px;
    padding-top: 9px;
}

header.page-header > img.header-img {
    width: 87px;
    height: 30px;
}

div.burger {
    background: url("./images/icon-menu.svg");
    width: 32px;
    height: 18px;
    position: absolute;
    top: 9px;
    left: 325px;
    transition: all 0.2 ease-in;
}

div.burger.open {
    background: url("./images/icon-close-menu.svg");
    background-repeat: no-repeat;
    background-size: 26px;
    width: 32px;
    height: 26px;
    z-index: 1;
}

/* Hero image */

section.hero-img-container > img.hero-img {
    width: 375px;
    height: 281.25px;
    margin-top: 20px;
}

/* Page info section */

section.page-info {
    width: 343px;
    height: 208px;
    margin: auto;
    margin-top: 45px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

section.page-info > h1.title {
    width: 363px;
    height: 42px;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.5px;
}

section.page-info > p.text {
    width: 343px;
    height: 78px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--mediumGray);
}

section.page-info > button.learn-more {
    width: 136px;
    height: 48px;
    border: none;
    border-radius: 15px;
    background-color: var(--almostBlack);
    color: var(--almostWhite);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.222222px;
}

/* Footer */

footer.footer-socials {
    width: 343px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 60px;
}

footer.footer-socials > img.databiz-img {
    width: 81.25px;
    height: 14.36px;
}

footer.footer-socials > img.audio-img {
    width: 52.87px;
    height: 26px
}

footer.footer-socials > img.meet-img {
    width: 64.14px;
    height: 14.36px;
}

footer.footer-socials > img.maker-img {
    width: 58.9px;
    height: 17.23px;
}

/* Desktop styling */

@media only screen and (min-width: 650px) {
    
}