@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family: "Manrope", sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    --blueGreen: #3EE9E5;
    --greyBlue: #093F68;
    --grey: #777F98;
    --white: #FFFFFF;
    --black: #080C20;
    --errorRed: #FF2965;
}

body {
    background-color: var(--black);
    display: flex;
    justify-content: center;
}

main.main-container {
    width: 37.5rem;
    min-height: 385.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
}

/* Header */

header.page-header {
    width: 12rem;
    height: 3.5rem;
}

/* Page title */

section.title-container {
    width: 37.5rem;
    height: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

section.title-container > div.image-mobile {
    width: 37.5rem;
    height: 23.3rem;
    background-image: url("./assets/illustration-hero-mobile.png");
    background-size: 42rem 23.3rem;
    background-position: -1rem;
}

section.title-container > h1.title {
    width: 30.7rem;
    height: 12.2rem;
    font-weight: 800;
    font-size: 3.2rem;
    line-height: 4rem;
    text-align: center;
}

section.title-container > h1.title > span.color {
    color: var(--blueGreen);
}

section.title-container > h1.title > span.break {
    display: block;
}

section.title-container > p.title-text {
    width: 32.7rem;
    height: 10rem;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: var(--grey);
}

section.title-container > img.mouse {
    width: 2.6rem;
    height: 4.2rem;
}

/* About section */

section.about-container {
    width: 32.7rem;
    height: 113.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section.about-container > div.about {
    height: 23rem;
    width: 32.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

section.about-container > div.about > div {
    width: 12rem;
    height: 12.4rem;
    background-color: var(--greyBlue);
    border-radius: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.about-container > div.about > div > img.passion-img {
    width: 6.6rem;
    height: 8rem;
    margin-left: 1.5rem;
    margin-top: .8rem;
}

section.about-container > div.about > div > img.freedom-img {
    width: 5.6rem;
    height: 6.7rem;
}

section.about-container > div.about > div > img.lifestyle-img {
    width: 6rem;
    height: 7.1rem;
    margin-left: -.3rem;
}

section.about-container > div.about > div > img.anywhere-img {
    width: 7.8rem;
    height: 5.6rem;
}

section.about-container > div.about > h4 {
    width: 32.7rem;
    height: 2.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 1.8rem;
}

section.about-container > div.about > p {
    width: 32.7rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--grey);
}

/* Pricing section */

section.pricing-header {
    width: 32.7rem;
    height: 13.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
}

section.pricing-header > h4.pricing-title {
    width: 21.3rem;
    height: 3.3rem;
    font-weight: 800;
    font-size: 2.4rem;
    text-align: center;
}

section.pricing-header > p.pricing-text {
    width: 32.1rem;
    height: 7.5rem;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: var(--grey);
}

section.pricing {
    width: 32.7rem;
    height: 116.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

section.pricing > div {
    width: 32.7rem;
    height: 43.6rem;
    background-color: var(--greyBlue);
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    padding-top: 3rem;
}

section.pricing > div > img {
    width: 4.6rem;
    height: 4.6rem;
    position: absolute;
    left: 3rem;
    top: -2.3rem;
}

section.pricing > div > h5 {
    width: 26rem;
    height: 2.5rem;
    font-weight: 800;
    font-size: 1.8rem;
    text-align: left;
}

section.pricing > div > p {
    width: 26rem;
    height: 7.5rem;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--grey);
}

section.pricing > div > p.price {
    width: 26rem;
    height: 5.5rem;
    font-weight: 800;
    font-size: 4rem;
    color: var(--white);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

section.pricing > div > div.features {
    width: 26rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

section.pricing > div > div.features > p:before {
    content: url("./assets/icon-check.svg");
    filter: brightness(500%);
    margin-right: 1rem;
}

section.pricing > div > div.features > p {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--white);
}

/* Second price box style */

section.pricing > div.pricing-paid {
    background-color: var(--blueGreen);
}

section.pricing > div.pricing-paid > img {
    height: 6.5rem;
    top: -3.5rem;
}

section.pricing > div.pricing-paid > h5 {
    color: var(--black);
}

section.pricing > div.pricing-paid > p {
    color: var(--black);
}

section.pricing > div.pricing-paid > p.price {
    color: var(--black);
}

section.pricing > div.pricing-paid > p.price > span {
    color: var(--grey);
    font-weight: 500;
    font-size: 1.5rem;
    margin-left: 1rem;
}

section.pricing > div.pricing-paid > div.features > p:before {
    filter: brightness(20%);
}

section.pricing > div.pricing-paid > div.features > p {
    color: var(--black);
}

/* Page footer */

footer.page-footer {
    width: 32.7rem;
    height: 21.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
} 

footer.page-footer > h5.footer-title {
    width: 24.8rem;
    height: 6.7rem;
    text-align: center;
    font-weight: 800;
    font-size: 2.4rem;
}

footer.page-footer > div.email-container {
    width: 32.7rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer.page-footer > div.email-container > input {
    width: 32.7rem;
    height: 4.8rem;
    background-color: var(--greyBlue);
    border: none;
    border-radius: 2.4rem;
    color: var(--grey);
    padding-left: 2.5rem;
    font-weight: 800;
    font-size: 1.5rem;
}

footer.page-footer > div.email-container > input.active {
    border: .2rem solid var(--errorRed);
}

footer.page-footer > div.email-container > p.error {
    display: none;
    color: var(--errorRed);
}

footer.page-footer > div.email-container > p.error.active {
    display: block;
    color: var(--errorRed);
}

footer.page-footer > div.email-container > input:focus {
    outline: none;
}

footer.page-footer > div.email-container > button {
    width: 32.7rem;
    height: 4.8rem;
    background-color: var(--blueGreen);
    border: none;
    border-radius: 2.4rem;
    color: var(--greyBlue);
    font-weight: 800;
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
}

footer.page-footer > div.email-container > button:hover {
    cursor: pointer;
    border: .2rem solid var(--blueGreen);
    background-color: var(--black);
    color: var(--white);
}

/* ************** */
/* Mobile styling */
/* ************** */

@media only screen and (min-width: 700px) and (max-width: 1000px) {
    main.main-container {
        width: 76.8rem;
        min-height: 300.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 5rem;
    }
    
    /* Header */
    
    header.page-header {
        align-self: flex-start;
        margin-left: 4rem;
    }
    
    /* Page title */
    
    section.title-container {
        width: 76.8rem;
        height: 35.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
    }
    
    section.title-container > div.image-mobile {
        display: none;
    }

    section.title-container > div.image-left {
        position: absolute;
        width: 15rem;
        height: 35.6rem;
        left: 0;
        background: url("./assets/illustration-hero-left.svg");
        background-size: 31.4rem 35.6rem;
        background-position: -16rem;
    }

    section.title-container > div.image-right {
        position: absolute;
        width: 15rem;
        height: 35.6rem;
        right: 0;
        background: url("./assets/illustration-hero-right.svg");
        background-size: 31.4rem 35.6rem;
        background-position: 31.5em;
    }

    section.title-container > div.bg-squiggle {
        position: absolute;
        width: 38.6rem;
        height: 26.8rem;
        background: url("./assets/bg-hero-squiggle.svg");
        background-size: 38.6rem 26.8rem;
    }
    
    section.title-container > h1.title {
        width: 45.7rem;
        height: 8.1rem;
    }
    
    section.title-container > h1.title > span.color {
        color: var(--blueGreen);
    }
    
    section.title-container > h1.title > span.break {
        display: inline;
    }
    
    section.title-container > p.title-text {
        width: 45rem;
        height: 7.5rem;
    }
    
    /* About section */
    
    section.about-container {
        width: 57.3rem;
        height: 61.4rem;
    }
    
    section.about-container > div.about {
        height: 12.4rem;
        width: 51.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    section.about-container > div.about:nth-child(odd) {
        align-self: flex-start;
    }

    section.about-container > div.about:nth-child(even) {
        align-self: flex-end;
    }
    
    section.about-container > div.about > h4 {
        width: 32.7rem;
        height: 2.5rem;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 800;
        font-size: 1.8rem;
    }
    
    section.about-container > div.about > p {
        width: 32.7rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: var(--grey);
    }
    
    /* Pricing section */
    
    section.pricing-header {
        width: 57.3rem;
        height: 11rem;
        margin-top: 10rem;
    }
    
    section.pricing-header > p.pricing-text {
        width: 57.3rem;
        height: 5rem;
    }
    
    section.pricing {
        width: 44.5rem;
        height: 100rem;
        justify-content: space-between;
    }
    
    section.pricing > div {
        width: 44.5rem;
        height: 44.8rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 3rem;
        position: relative;
        padding-top: 1rem;
        padding-left: 4rem;
    }
    
    section.pricing > div > p {
        width: 36.9rem;
        height: 5rem;
    }
    
    /* Second price box style */
    
    section.pricing > div.pricing-paid {
        background-color: var(--blueGreen);
        height: 48.2rem;
    }
    
    /* Page footer */
    
    footer.page-footer {
        width: 76.8rem;
        height: 14rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        background: url("./assets/bg-footer-squiggle.svg");
        background-size: 102.2rem 14rem;
        background-position: -25rem;
    } 
    
    footer.page-footer > h5.footer-title {
        width: 33.6rem;
        height: 3.3rem;
        text-align: center;
        font-weight: 800;
        font-size: 2.4rem;
    }
    
    footer.page-footer > div.email-container {
        width: 47.6rem;
        height: 4.8rem;
        display: flex;
        flex-direction: row;
        align-items: space-between;
        justify-content: space-between;
    }
    
    footer.page-footer > div.email-container > input {
        width: 32rem;
        height: 4.8rem;
    }
    
    footer.page-footer > div.email-container > button {
        width: 14rem;
        height: 4.8rem;
    }

    footer.page-footer > div.email-container > p.error {
        display: none;
        color: var(--errorRed);
        position: absolute;
        bottom: -.5rem;
        left: 18rem;
    }
}

/* *************** */
/* Desktop Styling */
/* *************** */

@media only screen and (min-width: 1001px) {

    body {
        width: 1440px;
    }

    main.main-container {
        width: 100%;
        min-height: 264.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 5rem;
    }
   
    /* Header */

    header.page-header {
        align-self: flex-start;
        margin-left: 4rem;
    }
    
    /* Page title */
    
    section.title-container {
        width: 144rem;
        height: 45.9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
    }
    
    section.title-container > div.image-mobile {
        display: none;
    }

    section.title-container > div.image-left {
        position: absolute;
        width: 34.8rem;
        height: 45.9rem;
        left: 0rem;
        background: url("./assets/illustration-hero-left.svg");
        background-size: 40.8rem 45.9rem;
        background-position: -6rem;
    }

    section.title-container > div.image-right {
        position: absolute;
        width: 34.8rem;
        height: 45.9rem;
        right: 0rem;
        background: url("./assets/illustration-hero-right.svg");
        background-size: 34.8rem 45.9rem;
        background-position: 0rem;
    }

    section.title-container > div.bg-squiggle {
        position: absolute;
        width: 55.431rem;
        height: 37.798rem;
        background: url("./assets/bg-hero-squiggle.svg");
        background-size: 55.431rem 37.789rem;
        top: 0rem;
    }
    
    section.title-container > h1.title {
        width: 55rem;
        height: 11.3rem;
        font-size: 4.8rem;
        line-height: 5.6rem;
    }
    
    section.title-container > h1.title > span.break {
        display: inline;
    }
    
    section.title-container > p.title-text {
        width: 54rem;
        height: 7.5rem;
    }

    /* About section */
    
    section.about-container {
        width: 111rem;
        height: 38.3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    section.about-container > div.about {
        height: 33.5rem;
        width: 25.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    section.about-container > div.about:nth-child(odd) {
        align-self: flex-start;
    }

    section.about-container > div.about:nth-child(even) {
        align-self: flex-end;
    }
    
    section.about-container > div.about > div {
        width: 16rem;
        height: 16.4rem;
        background-color: var(--greyBlue);
        border-radius: 4.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    section.about-container > div.about > div > img.passion-img {
        width: 8.8rem;
        height: 10.6rem;
        margin-left: 1.5rem;
        margin-top: .8rem;
    }
    
    section.about-container > div.about > div > img.freedom-img {
        width: 7.4rem;
        height: 8.9rem;
    }
    
    section.about-container > div.about > div > img.lifestyle-img {
        width: 8rem;
        height: 9.4rem;
        margin-left: -.3rem;
    }
    
    section.about-container > div.about > div > img.anywhere-img {
        width: 10.4rem;
        height: 7.4rem;
    }
    
    section.about-container > div.about > h4 {
        width: 21rem;
        height: 2.5rem;
        text-align: left;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    section.about-container > div.about > p {
        width: 25.5rem;
        height: 7.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: var(--grey);
    }
    
    /* Pricing section */
    
    section.pricing-header {
        width: 54rem;
        height: 11.8rem;
    }
    
    section.pricing-header > h4.pricing-title {
        width: 26.8rem;
        height: 4.4rem;
        font-size: 3.2rem;
    }
    
    section.pricing-header > p.pricing-text {
        width: 54rem;
        height: 5rem;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    
    section.pricing {
        height: 48.2rem;
        width: 92rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 2rem;
    }
    
    section.pricing > div {
        width: 44.5rem;
        height: 42.5rem;
        background-color: var(--greyBlue);
        border-radius: .8rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        position: relative;
        padding-top: 3rem;
        padding-left: 5rem;
    }

    section.pricing > div.pricing-paid {
        width: 44.5rem;
        height: 44.9rem;
    }
    
    section.pricing > div > img {
        width: 4.6rem;
        height: 4.6rem;
        position: absolute;
        left: 3rem;
        top: -2.3rem;
    }
    
    section.pricing > div > h5 {
        width: 26rem;
        height: 2.5rem;
        font-weight: 800;
        font-size: 1.8rem;
        text-align: left;
    }
    
    section.pricing > div > p {
        width: 26rem;
        height: 7.5rem;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: var(--grey);
    }
    
    section.pricing > div > p.price {
        width: 26rem;
        height: 5.5rem;
        font-weight: 800;
        font-size: 4rem;
        color: var(--white);
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    section.pricing > div > div.features {
        width: 26rem;
        height: 13rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    
    section.pricing > div > div.features > p:before {
        content: url("./assets/icon-check.svg");
        filter: brightness(500%);
        margin-right: 1rem;
    }
    
    section.pricing > div > div.features > p {
        font-weight: 500;
        font-size: 1.5rem;
        color: var(--white);
    }
    
    /* Second price box style */
    
    section.pricing > div.pricing-paid {
        background-color: var(--blueGreen);
    }
    
    section.pricing > div.pricing-paid > img {
        height: 6.5rem;
        top: -3.5rem;
    }
    
    section.pricing > div.pricing-paid > h5 {
        color: var(--black);
    }
    
    section.pricing > div.pricing-paid > p {
        color: var(--black);
    }
    
    section.pricing > div.pricing-paid > p.price {
        color: var(--black);
    }
    
    section.pricing > div.pricing-paid > p.price > span {
        color: var(--grey);
        font-weight: 500;
        font-size: 1.5rem;
        margin-left: 1rem;
    }
    
    section.pricing > div.pricing-paid > div.features > p:before {
        filter: brightness(20%);
    }
    
    section.pricing > div.pricing-paid > div.features > p {
        color: var(--black);
    }
    
    /* Page footer */
    
    footer.page-footer {
        width: 144rem;
        height: 22.8rem;
        justify-content: space-evenly;
        position: relative;
        background: url("./assets/bg-footer-squiggle.svg");
        background-size: 144rem 22.8rem;
        background-position: 0rem;
    } 
    
    footer.page-footer > h5.footer-title {
        width: 74rem;
        height: 4.4rem;
        text-align: center;
        font-weight: 800;
        font-size: 3.2rem;
    }
    
    footer.page-footer > div.email-container {
        width: 47.6rem;
        height: 4.8rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    footer.page-footer > div.email-container > input {
        width: 32rem;
        height: 4.8rem;
    }
    
    footer.page-footer > div.email-container > p.error {
        display: none;
        color: var(--errorRed);
        position: absolute;
        bottom: 2rem;
        left: 52rem;
    }
    
    footer.page-footer > div.email-container > p.error.active {
        display: block;
        color: var(--errorRed);
    }
    
    footer.page-footer > div.email-container > input:focus {
        outline: none;
    }
    
    footer.page-footer > div.email-container > button {
        width: 14rem;
        height: 4.8rem;
    }
    
    footer.page-footer > div.email-container > button:hover {
        cursor: pointer;
        border: .2rem solid var(--blueGreen);
        background-color: var(--black);
        color: var(--white);
    }
}