@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
    --purpleBlue: hsl(252, 66%, 63%);
    --lightOrange: hsl(28, 89%, 67%);
    --pink: hsl(0, 78%, 79%);
    --peach: hsl(7, 77%, 66%);
    --turquoise: hsl(172, 46%, 57%);
    --purple: hsl(314, 45%, 23%);
    --black: hsl(0, 0%, 1%);
    --grey: hsl(30, 5%, 45%);
    --lightCream: hsl(28, 100%, 97%);
}

body {
    margin: 0;
}

/* Mobile styling */

main.main-container {
    width: 375px;
    height: 3214px;
    overflow-x: hidden;
    background-color: var(--lightCream);
}

/* Header */

header.page-header {
    width: 343px;
    height: 48px;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
}

header.page-header > div.box {
    height: 48px;
    width: 48px;
    background-color: var(--black);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header.page-header > div.box > div.circle {
    height: 24px;
    width: 24px;
    border: 2px solid var(--lightCream);
    border-radius: 25px;
}

header.page-header > div.consultation-text {
    width: 176px;
    height: 44px;
    background-color: var(--black);
    color: var(--lightCream);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

header.page-header > div.consultation-text:hover {
    background-color: var(--purpleBlue);
    cursor: pointer;
}

/* Page title */

section.page-title {
    width: 343px;
    height: 210px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 45px;
}

section.page-title > h1.title {
    font-size: 36px;
    font-weight: 700;
    line-height: 45.36px;
    color: var(--black);
}

section.page-title > p.title-text {
    width: 285px;
    height: 104px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-top: -15px;
    color: var(--grey);
}

/* Skills section */

section.skills-container {
    width: 343px;
    height: 1164px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 22px;
    margin: auto;
    align-items: center;
    margin-bottom: 10px;
}

section.skills-container > div.skills {
    border-radius: 8px;
    position: relative;
}

section.skills-container > div.skills > img.skills-image {
    position: absolute;
    top: 24px;
    right: 25px;
    width: 160px;
    height: 64px;
}

section.skills-container > div.skills > img.skills-image.graphic-design-image {
    width: 128px;
    height: 192px;
}

section.skills-container > div.skills > img.skills-image.user-image,
section.skills-container > div.skills > img.skills-image.apps-image {
    width: 64px;
    height: 64px;
}

section.skills-container > div.skills > h3.skills-text {
    position: absolute;
    left: 25px;
    bottom: 0px;
    font-size: 24px;
    font-weight: 700;
    color: white;
}

section.skills-container > div.graphic-design {
    width: 343px;
    height: 364px;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-color: var(--purpleBlue);
}

section.skills-container > div.user {
    width: 159px;
    height: 182px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color: var(--lightOrange);
}

section.skills-container > div.apps {
    width: 159px;
    height: 182px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: var(--pink);
    justify-self: end;
}

section.skills-container > div.illustrations {
    width: 343px;
    height: 158px;
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    background-color: var(--peach);
}

section.skills-container > div.photography {
    width: 343px;
    height: 182px;
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    background-color: var(--turquoise);
}

section.skills-container > div.motion-graphics {
    width: 343px;
    height: 182px;
    grid-column: 1 / 3;
    grid-row: 6 / 7;
    background-color: var(--purple);
}

/* User profile  */

section.user-details {
    width: 343px;
    height: 602px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 100px;
}

section.user-details > img.profile-img {
    width: 300px;
    height: 300px;
}

section.user-details > h2.greeting {
    width: 343px;
    height: 66px;
    text-align: center;
    font-size: 26px;
    line-height: 33px;
    font-weight: 700;
}

section.user-details > p.about-amy {
    width: 343px;
    height: 104px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7A746E;
    margin-top: -5px;
}

section.user-details > button.consult-btn {
    width: 176px;
    height: 44px;
    border: none;
    border-radius: 28px;
    background-color: var(--peach);
    color: var(--lightCream);
    font-weight: 700;
    font-size: 14px;
    transition: all 0.2s ease-in;
}

section.user-details > button.consult-btn:hover {
    background-color: var(--lightOrange);
    cursor: pointer;
}

/* Image carousel */

h2.work {
    width: 102px;
    height: 30px;
    margin: auto;
    margin-bottom: 28px;
    font-weight: 700;
    font-size: 24px;
}

section.image-carousel {
    width: 1410px;
    height: 220px;
    display: flex;
    margin-left: 50px;
    position: relative;
}

section.image-carousel > img.slide {
    width: 270px;
    height: 180px;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    transition: all 0.1s ease-in-out;
}

div.image-scroll-buttons {
    width: 144px;
    height: 64px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

div.image-scroll-buttons > div.back-arrow-container, 
div.image-scroll-buttons > div.forward-arrow-container {
    width: 64px;
    height: 64px;
    background-color: var(--black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in;
}

div.image-scroll-buttons > div.back-arrow-container:hover, 
div.image-scroll-buttons > div.forward-arrow-container:hover {
    background-color: var(--purpleBlue);
    cursor: pointer;
}

/* Contact details */

section.contact-container {
    width: 343px;
    height: 352px;
    margin: auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black);
    border-radius: 8px;
    margin-bottom: 40px;
}

section.contact-container > h3.contact-title {
    width: 240px;
    height: 33px;
    font-weight: 700;
    font-size: 26px;
    color: var(--lightCream);
    margin-top: 50px;
}

section.contact-container > p.contact-text {
    width: 295px;
    height: 130px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--lightCream);
    margin-top: 0px;
    margin-bottom: 30px;
}

section.contact-container > button.consult-btn {
    width: 176px;
    height: 44px;
    border: none;
    border-radius: 28px;
    background-color: var(--peach);
    color: var(--lightCream);
    font-weight: 700;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}

section.contact-container > button.consult-btn:hover {
    background-color: var(--lightOrange);
    cursor: pointer;
}

/* Footer */

footer.page-footer {
    width: 343px;
    height: 48px;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

footer.page-footer > div.box {
    height: 48px;
    width: 48px;
    background-color: var(--black);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer.page-footer > div.box > div.circle {
    height: 24px;
    width: 24px;
    border: 2px solid var(--lightCream);
    border-radius: 25px;
}

footer.page-footer > div.consultation-text {
    width: 176px;
    height: 44px;
    background-color: var(--black);
    color: var(--lightCream);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

footer.page-footer > div.consultation-text:hover {
    background-color: var(--purpleBlue);
    cursor: pointer;
}

/* Tablet styling */

 @media only screen and (min-width: 700px) {
    body {
        width: 768px;
        height: 2762px;
    }

    main.main-container {
        width: 768px;
        height: 2762px;
        overflow-y: hidden;
    }

    /* Header */

    header.page-header {
        width: 689px;
        height: 64px;
        padding-top: 45px;
    }

    header.page-header > div.box {
        height: 64px;
        width: 64px;
    }

    header.page-header > div.box > div.circle {
        height: 32px;
        width: 32px;
    }

    header.page-header > div.consultation-text {
        width: 228px;
        height: 56px;
        font-size: 16px;
    }

    /* Page title */

    section.page-title {
        width: 690px;
        height: 138px;
        margin-top: 80px;
    }

    section.page-title > h1.title {
        width: 690px;
        height: 55px;
        font-size: 44px;
    }

    section.page-title > p.title-text {
        width: 573px;
        height: 56px;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
    }

    /* Skills section */

    section.skills-container {
        width: 690px;
        height: 570px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 22px;
        margin: auto;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 80px;
    }

    section.skills-container > div.graphic-design {
        width: 333px;
        height: 364px;
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        align-self: start;
    }

    section.skills-container > div.user {
        width: 155px;
        height: 182px;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    section.skills-container > div.apps {
        width: 155px;
        height: 182px;
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }

    section.skills-container > div.illustrations {
        width: 343px;
        height: 160px;
        grid-column: 3 / -1;
        grid-row: 2 / 3;
        align-self: flex-start;
    }

    section.skills-container > div.photography {
        width: 333px;
        height: 182px;
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    section.skills-container > div.motion-graphics {
        width: 343px;
        height: 182px;
        grid-column: 3 / -1;
        grid-row: 3 / 4;
    }

    /* User profile  */

    section.user-details {
        width: 772px;
        height: 364px;
        flex-wrap: wrap;
        margin-top: 120px;
    }

    section.user-details > img.profile-img {
        width: 364px;
        height: 364px;
        margin-left: -80px;
        margin-top: -10px;
    }

    section.user-details > h2.greeting {
        width: 339px;
        height: 120px;
        text-align: start;
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
        margin-top: -20px;
    }

    section.user-details > p.about-amy {
        width: 339px;
        height: 140px;
        text-align: start;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
    }

    section.user-details > button.consult-btn {
        width: 228px;
        height: 56px;
        font-size: 16px;
        margin-left: -120px;
    }

    /* Image carousel */

    h2.work {
        width: 136px;
        height: 40px;
        margin-bottom: 28px;
        font-size: 32px;
    }

    section.image-carousel {
        width: 2820px;
        height: 360px;
    }

    section.image-carousel > img.slide {
        width: 540px;
        height: 360px;
        padding: 30px;
        margin-left: 50px;
    }

    /* Contact details */

    section.contact-container {
        width: 690px;
        height: 352px;
    }

    section.contact-container > h3.contact-title {
        width: 540px;
        height: 40px;
        font-size: 32px;
        text-align: center;
    }

    section.contact-container > p.contact-text {
        width: 540px;
        height: 84px;
        font-size: 18px;
        line-height: 28px;
    }

    section.contact-container > button.consult-btn {
        width: 228px;
        height: 56px;
        font-size: 16px;
    }

    /* Footer */

    footer.page-footer {
        width: 689px;
        height: 64x;
    }

    footer.page-footer > div.box {
        height: 64px;
        width: 64px;
    }

    footer.page-footer > div.box > div.circle {
        height: 32px;
        width: 32px;
    }

    footer.page-footer > div.consultation-text {
        width: 228px;
        height: 56px;
        font-size: 16px;
    }

 }

    /* Desktop styling */

    @media only screen and (min-width: 1000px) {
        body {
            width: 1440px;
            height: 2595px;
        }

        main.main-container {
            width: 1440px;
            height: 2595px;
            overflow-y: hidden;
        }
    

    /* Header */

    header.page-header {
        width: 1111px;
        height: 64px;
        padding-top: 70px;
    }

    /* Page title */

    section.page-title {
        width: 752px;
        height: 150px;
        margin-top: 80px;
    }

    section.page-title > h1.title {
        width: 751px;
        height: 71px;
        font-size: 56px;
    }

    section.page-title > p.title-text {
        width: 730px;
        height: 56px;
        font-size: 18px;
        line-height: 28px;
    }

    /* Skills section */

    section.skills-container {
        width: 1062px;
        height: 364px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    section.skills-container > div.graphic-design {
        width: 333px;
        height: 364px;
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        align-self: start;
    }

    section.skills-container > div.user {
        width: 155px;
        height: 182px;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    section.skills-container > div.apps {
        width: 155px;
        height: 182px;
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }

    section.skills-container > div.illustrations {
        width: 333px;
        height: 160px;
        grid-column: 3 / -1;
        grid-row: 2 / 3;
        align-self: flex-start;
    }

    section.skills-container > div.photography {
        width: 333px;
        height: 182px;
        grid-column: 5 / 6;
        grid-row: 1 / 2;
    }

    section.skills-container > div.motion-graphics {
        width: 333px;
        height: 160px;
        grid-column: 5 / -1;
        grid-row: 2 / -1;
        align-self: flex-start;
    }

    /* User profile  */

    section.user-details {
        width: 1110px;
        height: 445px;
    }

    section.user-details > img.profile-img {
        width: 445px;
        height: 445px;
    }

    section.user-details > h2.greeting {
        width: 540px;
        height: 100px;
        font-size: 40px;
        line-height: 50px;
        margin-top: 30px;
    }

    section.user-details > p.about-amy {
        width: 540px;
        height: 84px;
        margin-top: -45px;
    }

    section.user-details > button.consult-btn {
        margin-left: -320px;
        margin-top: -20px;
    }

    /* Image carousel */

    h2.work {
        width: 136px;
        height: 40px;
        margin: auto;
        margin-bottom: 28px;
        font-weight: 700;
        font-size: 32px;
    }

    section.image-carousel {
        width: 2820px;
        height: 360px;
        margin-left: 500px;
    }

    section.image-carousel > img.slide {
        width: 540px;
        height: 360px;
        padding: 5px;
    }

    div.image-scroll-buttons {
        margin-top: 40px;
    }

    /* Contact details */

    section.contact-container {
        width: 1110px;
        height: 320px;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    section.contact-container > h3.contact-title {
        width: 540px;
        height: 50px;
        font-size: 40px;
        margin-left: -28px;
    }

    section.contact-container > p.contact-text {
        width: 540px;
        height: 104px;
        font-size: 18px;
        line-height: 28px;
        margin-left: 60px;
        text-align: start;
    }

    /* Footer */

    footer.page-footer {
        width: 1111px;
        height: 64px;
        margin-top: 70px;
    }
}