@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
    color: var(--white);
}

:root {
    --black: #151515;
    --limeGreen: #4EE1AD;
    --darkGrey: hsl(0, 0%, 14%);
    --lightGrey: hsl(0, 5%, 74%);
    --white: hsl(0, 0%, 100%);
}

/* Mobile styling */

body {
    width: 375px;
    height: 100%;
    background-color: var(--black);
    overflow-x: hidden;
    margin: auto;
}

/* Header styling */

header.page-header {
    width: 225px;
    height: 40px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header.page-header > h1.header-name {
    width: 225px;
    height: 32px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.33333px;
    text-align: center;
}

/* Main content */

main.main-content > section.profile {
    height: 690px;
    width: 375px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

main.main-content > section.profile > div.profile-img {
    background: url("./images/desktop-comp-img.jpg");
    opacity: .4;
    background-repeat: no-repeat;
    background-size: 250px 300px;
    width: 250px;
    height: 320px;
}

main.main-content > section.profile > div.circle {
    background: url("./images/pattern-circle.svg");
    position: absolute;
    width: 64px;
    height: 129px;
    right: -15px;
    top: 180px;
    opacity: .4;
}

main.main-content > section.profile > img.pattern {
    position: absolute;
    top: 0;
    left: -470px;
}

main.main-content > section.profile > h2.profile-title {
    width: 343px;
    height: 130px;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
}

main.main-content > section.profile > h2.profile-title > span.name-highlight {
    text-decoration: underline;
    text-decoration-color: var(--limeGreen);
    text-underline-offset: 8px;
}

main.main-content > section.profile > p.profile-text {
    width: 343px;
    height: 85px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--lightGrey);
}

main.main-content > section.profile > a.contact-me {
    width: 120px;
    height: 38px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2.29px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: var(--limeGreen);
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-align: center;
    transition: all 0.2s ease-in;
}

main.main-content > section.profile > a.contact-me:hover {
    cursor: pointer;
    color: var(--limeGreen);
}

/* Skills section */ 

main.main-content > section.skills {
    position: relative;
    width: 345px;
    height: 400px;
    margin: 70px auto;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px 0;
}

main.main-content > section.skills > div.skills-image {
    background: url("./images/pattern-rings.svg");
    position: absolute;
    width: 250px;
    height: 129px;
    right: -100px;
    bottom: -64px;
}

main.main-content > section.skills > div {
    width: 345px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main.main-content > section.skills > div > h3 {
    width: 345px;
    height: 40px;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -1px;
    text-align: center;
}

main.main-content > section.skills > div > p {
    width: 345px;
    height: 26px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: var(--lightGrey);
}

/* Projects section */
/* Projects section header */

main.main-content > div.projects-header {
    width: 343px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 20px;
}

main.main-content > div.projects-header > h3.project-title {
    width: 152px;
    height: 48px;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -1.13636px;
    margin-top: -10px;
}

main.main-content > div.projects-header > a.project-contact {
    width: 120px;
    height: 38px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2.29px;
    text-transform: uppercase;
    border-bottom: 2px solid var(--limeGreen);
    transition: all 0.2s ease-in;
}

main.main-content > div.projects-header > a.project-contact:hover {
    cursor: pointer;
    color: var(--limeGreen);
}

/* Projects */

main.main-content > section.projects-container {
    width: 343px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 50px;
}

main.main-content > section.projects-container > div.project-display {
    width: 343px;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main.main-content > section.projects-container > div.project-display > h4 {
    width: 343px;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

main.main-content > section.projects-container > div.project-display > div.project-skills {
    width: 300px;
    height: 30px;
    display: flex;
    gap: 15px;
    font-weight: 500;
    font-size: 18px;
    margin-top: -10px;
}

main.main-content > section.projects-container > div.project-display > div.project-skills > p {
    color: var(--lightGrey);
    text-transform: uppercase;
}

main.main-content > section.projects-container > div.project-display > div.projects-links {
    width: 343px;
    height: 38px;
    display: flex;
    gap: 30px;
}

main.main-content > section.projects-container > div.project-display > div.projects-links > a {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2.29px;
    text-transform: uppercase;
    border-bottom: 2px solid var(--limeGreen);
    transition: all 0.2s ease-in;
    text-decoration: none;
}

main.main-content > section.projects-container > div.project-display > div.projects-links > a.view {
    width: 140px;
}

main.main-content > section.projects-container > div.project-display > div.projects-links > a.code {
    width: 105px;
}

main.main-content > section.projects-container > div.project-display > div.projects-links > a:hover {
    cursor: pointer;
    color: var(--limeGreen);
}

main.main-content > section.projects-container > div.project-display > 
div.projects-links > p.view {
    width: 138px;
    height: 38px;
}

main.main-content > section.projects-container > div.project-display > 
div.projects-links > p.code {
    width: 103px;
    height: 38px;
}


main.main-content > section.projects-container > div.project-display > div.project-img {
    width: 343px;
    height: 253px;
}

main.main-content > section.projects-container > div.project-display > div.first-project-img {
    background: url("./images/thumbnail-project-2-small.webp"); 
    background-size: 343px 253px;
}

main.main-content > section.projects-container > div.project-display > div.second-project-img {
    background: url("./images/news-homepage.png");
    background-size: 343px 253px;
}

main.main-content > section.projects-container > div.project-display > div.third-project-img {
    background: url("./images/music-page.png");
    background-size: 343px 253px;
}

main.main-content > section.projects-container > div.project-display > div.fourth-project-img {
    background: url("./images/Card-details.png");
    background-size: 343px 253px;
}

main.main-content > section.projects-container > div.project-display > div.fifth-project-img {
    background: url("./images/Expenses-chart.png");
    background-size: 343px 253px;
}

main.main-content > section.projects-container > div.project-display > div.sixth-project-img {
    background: url("./images/advice.png");
    background-size: 343px 253px;
}

/* Contact section */

main.main-content > section.contact-container {
    width: 375px;
    height: 100%;
    padding: 0 16px;
    background-color: var(--darkGrey);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
}

main.main-content > section.contact-container > h4.contact-section-title {
    width: 343px;
    height: 50px;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -1.14px;
    text-align: center;
}

main.main-content > section.contact-container > p.contact-section-text {
    width: 343px;
    height: 78px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--lightGrey);
}

main.main-content > section.contact-container > div.contact-details {
    width: 343px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main.main-content > section.contact-container > div.contact-details > div.email-container,
main.main-content > section.contact-container > div.contact-details > div.phone-container {
    width: 343px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

main.main-content > section.contact-container > div.contact-details  > div.email-container > p.email-address,
main.main-content > section.contact-container > div.contact-details  > div.phone-container > p.phone-number {
    font-size: 15px;
    transition: all 0.2s ease-in-out;
}

main.main-content > section.contact-container > div.contact-details > 
div.email-container > p.email-address:hover,
main.main-content > section.contact-container > div.contact-details > 
div.phone-container > p.phone-number:hover {
    color: var(--limeGreen);
    cursor: default;
}

main.main-content > section.contact-container > div.contact-details > div.email-container > p.email-icon,
main.main-content > section.contact-container > div.contact-details > div.phone-container > p.phone-icon {
    font-size: 20px;
}

main.main-content > section.contact-container > div.line {
    height: 1px;
    width: 343px;
    background-color: var(--lightGrey);
    margin-top: 20px;
}

/* Footer */

main.main-content > footer.page-footer {
    width: 375px;
    height: 100px;
    background-color: var(--darkGrey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

main.main-content > footer.page-footer > p.footer-name {
    width: 230px;
    height: 35px;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.33px;
    text-align: center;
}

main.main-content > footer.page-footer > div.footer-socials {
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main.main-content > footer.page-footer > div.footer-socials > a.github {
    background: url("./images/icon-github.svg");
    background-size: 19.2px 19.69px;
    background-repeat: no-repeat;
    height: 19.25px;
    width: 19.69px;
}



main.main-content > footer.page-footer > div.footer-socials > a.frontend {
    background: url("./images/icon-frontend-mentor.svg");
    background-size: 19.68px 17.6px;
    width: 19.68px;
    height: 17.6px;
}

main.main-content > footer.page-footer > div.footer-socials > a.github:hover,
main.main-content > footer.page-footer > div.footer-socials > a.frontend:hover {
    filter: brightness(0) saturate(100%) invert(74%) sepia(66%) saturate(391%) hue-rotate(95deg) brightness(94%) contrast(89%);
}

/* Tablet styling */

@media only screen and (min-width: 600px) and (max-width: 950px) {
    body {
        width: 768px;
        height: 100%;
    }

    /* Header styling */

    header.page-header {
        width: 708.49px;
        height: 32px;
        flex-direction: row;
        align-items: center;
        position: absolute;
        left: 30px;
        z-index: 1;
    }

    header.page-header > h1.header-name {
        width: 172px;
        height: 32px;
        font-size: 32px;
        letter-spacing: 0.44px;
        margin-top: -14px;
    }

    /* Main content */

    main.main-content > section.profile {
        height: 600px;
        width: 768px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 28px;
        padding-left: 30px;
    }

    main.main-content > section.profile > div.profile-img {
        background: url("./images/desktop-comp-img.jpg");
        background-repeat: no-repeat;
        background-size: 322px 600px;
        width: 322px;
        height: 600px;
        position: absolute;
        top: 0;
        left: 445px;
    }

    main.main-content > section.profile > div.circle {
        position: absolute;
        width: 129px;
        height: 129px;
        right: -64px;
        top: 470px;
        z-index: 1;
    }

    main.main-content > section.profile > img.pattern {
        position: absolute;
        top: 70px;
        left: -270px;
    }

    main.main-content > section.profile > h2.profile-title {
        width: 443px;
        height: 320px;
        font-weight: 700;
        font-size: 72px;
        line-height: 70px;
        text-align: left;
        letter-spacing: -2.05px;
        z-index: 1;
    }

    main.main-content > section.profile > h2.profile-title > span.nice {
        display: block;
    }

    main.main-content > section.profile > h2.profile-title > span.meet {
        display: block;
    }

    main.main-content > section.profile > h2.profile-title > span.name-highlight {
        text-decoration: underline;
        text-decoration-color: var(--limeGreen);
        text-underline-offset: 8px;
        display: block;
        line-height: 85px;
    }

    main.main-content > section.profile > p.profile-text {
        width: 445px;
        height: 84px;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: left;
    }

    /* Skills section */ 

    main.main-content > section.skills {
        width: 708px;
        height: 100%;
        border-bottom: 1px solid white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 50px 0;
        margin: 50px auto;
    }

    main.main-content > section.skills > div.skills-image {
        background: url("./images/pattern-rings.svg");
        position: absolute;
        width: 250px;
        height: 129px;
        left: 550px;
        bottom: -20px;
    }

    main.main-content > section.skills > div {
        width: 230px;
        height: 98px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    main.main-content > section.skills > div > h3 {
        width: 230px;
        height: 56px;
        font-weight: 700;
        font-size: 48px;
        letter-spacing: -1.5px;
        text-align: left;
    }

    main.main-content > section.skills > div > p {
        width: 230px;
        height: 28px;
        font-weight: 500;
        font-size: 18px;
        text-align: left;
    }

    /* Projects section */
    /* Projects section header */

    main.main-content > div.projects-header {
        width: 706px;
        height: 72px;
    }

    main.main-content > div.projects-header > h3.project-title {
        width: 273px;
        height: 72px;
        font-size: 72px;
        letter-spacing: -2.05px;
        margin-top: -35px;
    }

    /* Projects */

    main.main-content > section.projects-container {
        width: 708px;
        height: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        row-gap: 50px;
        margin-bottom: 50px;
    }

    main.main-content > section.projects-container > div.project-display {
        width: 342px;
        height: 398px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    main.main-content > section.projects-container > div.project-display > div.projects-links {
        width: 343px;
        height: 30px;
        display: flex;
        gap: 30px;
    }

    /* Contact section */

    main.main-content > section.contact-container {
        width: 768px;
        height: 444px;
        padding: 0 16px;
        align-items: center;
        padding-bottom: 0;
    }

    main.main-content > section.contact-container > h4.contact-section-title {
        width: 270px;
        height: 72px;
        font-size: 72px;
        letter-spacing: -2.05px;
        margin-bottom: 0px;
    }

    main.main-content > section.contact-container > p.contact-section-text {
        width: 445px;
        height: 84px;
        font-size: 18px;
        line-height: 28px;
    }

    main.main-content > section.contact-container > div.line {
        height: 1px;
        width: 708px;
        background-color: var(--lightGrey);
        margin-top: 40px;
    }

    /* Footer */

    main.main-content > footer.page-footer {
        width: 100%;
        height: 83px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 28px;
    }

    main.main-content > footer.page-footer > p.footer-name {
        width: 172px;
        height: 32px;
        font-weight: 700;
        font-size: 32px;
        letter-spacing: -0.44px;
        text-align: left;
        margin-top: -20px;
    }

    main.main-content > footer.page-footer > div.footer-socials {
        width: 100px;
        height: 25px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 25px;
    }

    main.main-content > footer.page-footer > div.footer-socials > img.github {
        height: 24.61px;
        width: 24px;
    }

    main.main-content > footer.page-footer > div.footer-socials > img.frontend {
        width: 24.6px;
        height: 22px;
    }
}

/* Desktop styling */

@media only screen and (min-width: 951px) {

    body {
        width: 1440px;
        height: 100%;
        overflow-x: scroll;
    }
    
    /* Header styling */
    
    header.page-header {
        width: 1110px;
        height: 50px;
        margin: 20px auto;
        flex-direction: row;
    }
    
    header.page-header > h1.header-name {
        width: 172px;
        height: 32px;
        font-size: 32px;
        letter-spacing: 0.44px;
    }
    
    /* Main content */
    
    main.main-content > section.profile {
        height: 610px;
        width: 1110px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 70px;
        padding-left: 165px;
    }
    
    main.main-content > section.profile > div.profile-img {
        background: url("./images/desktop-comp-img.jpg");
        background-size: 445px 720px;
        width: 445px;
        height: 720px;
        position: absolute;
        top: -90px;
        left: 830px;
        z-index: -1;
    }
    
    main.main-content > section.profile > div.circle {
        width: 129px;
        height: 129px;
        right: 215px;
        top: 440px;
    }
    
    main.main-content > section.profile > img.pattern {
        position: absolute;
        top: 40px;
        left: -100px;
    }
    
    main.main-content > section.profile > h2.profile-title {
        width: 850px;
        height: 200px;
        font-weight: 700;
        font-size: 88px;
        line-height: 95px;
        letter-spacing: -2.5px;
        text-align: left;
    }
    
    main.main-content > section.profile > p.profile-text {
        width: 445px;
        height: 84px;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: left;
    }
    
    main.main-content > section.profile > p.contact-me {
        margin-top: 27px;
    }
    
    /* Skills section */ 
    
    main.main-content > section.skills {
        position: relative;
        width: 1110px;
        height: 237px;
        margin: 70px auto;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 60px 0 0 0;
    }
    
    main.main-content > section.skills > div.skills-image {
        width: 300px;
        left: 974px;
        bottom: 0px;
    }
    
    main.main-content > section.skills > div {
        width: 345px;
        height: 98px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    main.main-content > section.skills > div > h3 {
        font-size: 48px;
        letter-spacing: -1.5px;
        text-align: center;
    }
    
    main.main-content > section.skills > div > p {
        font-size: 18px;
        text-align: center;
    }
    
    /* Projects section */
    /* Projects section header */
    
    main.main-content > div.projects-header {
        width: 1110px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        margin-bottom: 20px;
    }
    
    main.main-content > div.projects-header > h3.project-title {
        width: 334px;
        height: 88px;
        font-weight: 700;
        font-size: 88px;
        letter-spacing: -2.5px;
        margin-top: -40px;
    }
    
    main.main-content > div.projects-header > p.project-contact {
        width: 120px;
        height: 38px;
    }
    
    /* Projects */
    
    main.main-content > section.projects-container {
        width: 1110px;
        height: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 50px;
    }
    
    main.main-content > section.projects-container > div.project-display {
        width: 540px;
        height: 487px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: relative;
        align-items: flex-start;
        gap: 10px;
    }
    
    main.main-content > section.projects-container > div.project-display > h4 {
        width: 540px;
        height: 40px;
    }
    
    main.main-content > section.projects-container > div.project-display > div.project-skills {
        width: 300px;
        height: 30px;
        display: flex;
        gap: 15px;
        font-weight: 500;
        font-size: 18px;
        margin-top: -10px;
    }
    
    main.main-content > section.projects-container > div.project-display > div.projects-links {
        width: 150px;
        height: 38px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        position: absolute;
        z-index: 0;
        left: 200px;
        top: 180px;
    }

    
    main.main-content > section.projects-container > div.project-display > div.projects-links > p {
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 2.29px;
        text-transform: uppercase;
        border-bottom: 2px solid var(--limeGreen);
    }
    
    main.main-content > section.projects-container > div.project-display > div.projects-links:hover {
        z-index: 1;
        cursor: pointer;
    }
    
    main.main-content > section.projects-container > div.project-display > div.projects-links > p:hover {
        color: var(--limeGreen);
        cursor: pointer;
    }
    
    main.main-content > section.projects-container > div.project-display > 
    div.projects-links > p.view {
        width: 138px;
        height: 38px;
    }
    
    main.main-content > section.projects-container > div.project-display > 
    div.projects-links > p.code {
        width: 103px;
        height: 38px;
    }
    
    
    main.main-content > section.projects-container > div.project-display > div.project-img {
        width: 540px;
        height: 400px;
        transition: all 0.2s ease-in-out;
        z-index: 1;
    }

    main.main-content > section.projects-container > div.project-display > div.project-img:hover {
        opacity: 0.4;
        cursor: pointer;
        z-index: 0;
    }
    
    main.main-content > section.projects-container > div.project-display > div.first-project-img {
        background-size: 540px 400px;
    }
    
    main.main-content > section.projects-container > div.project-display > div.second-project-img {
        background-size: 540px 400px;
    }
    
    main.main-content > section.projects-container > div.project-display > div.third-project-img {
        background-size: 540px 400px;
    }
    
    main.main-content > section.projects-container > div.project-display > div.fourth-project-img {
        background-size: 540px 400px;
    }
    
    main.main-content > section.projects-container > div.project-display > div.fifth-project-img {
        background-size: 540px 400px;
    }
    
    main.main-content > section.projects-container > div.project-display > div.sixth-project-img {
        background-size: 540px 400px;
    }
    
    /* Contact section */
    
    main.main-content > section.contact-container {
        width: 1440px;
        height: 455px;
        padding: 0 16px;
        background-color: var(--darkGrey);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px 160px 40px 160px;
    }
    
    main.main-content > section.contact-container > h4.contact-section-title {
        width: 343px;
        height: 88px;
        font-weight: 700;
        font-size: 88px;
        letter-spacing: -2.5px;
        text-align: left;
    }
    
    main.main-content > section.contact-container > p.contact-section-text {
        width: 445px;
        height: 78px;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
    }
       
     main.main-content > section.contact-container > div.line {
        height: 1px;
        width: 1110px;
        position: absolute;
        top: 3200px;
        left: 160px;
     } 
    
    /* Footer */
    
    main.main-content > footer.page-footer {
        width: 1440px;
        height: 100px;
        background-color: var(--darkGrey);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 400px;
        padding: 0 165px;
        margin-bottom: 0;
    }
    
    main.main-content > footer.page-footer > p.footer-name {
        width: 300px;
        height: 35px;
        font-weight: 700;
        font-size: 32px;
        letter-spacing: -0.44px;
        text-align: left;
        margin-left: -5px;
    }
    
    main.main-content > footer.page-footer > div.footer-socials {
        width: 66px;
        height: 25px;
        display: flex;
        justify-content: space-between;
    }
    
    main.main-content > footer.page-footer > div.footer-socials > img.github {
        height: 24.61px;
        width: 24px;
    }
    
    main.main-content > footer.page-footer > div.footer-socials > img.frontend {
        width: 24.6px;
        height: 22px;
    }
}