@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;600;700;800;900&family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Space+Grotesk:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Big Shoulders Display", sans-serif;
}

:root {
    --rust: #D5966C;
    --black: #151515;
    --gray: #444444;
    --white: #FFFFFF;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
}

/* Header */

section.page-header {
    max-width: 100%;
    height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

section.page-header > div.header-img {
    background: url("./assets/mobile/image-hero.jpg");
    height: 240px;
    width: 375px;
}

section.page-header > h1.page-title {
    width: 343px;
    height: 110px;
    color: var(--black);
    font-size: 3.75rem;
    font-weight: 900;
    line-height: 3.4375rem;
    text-transform: uppercase;
}

section.page-header > p.header-text {
    font-family: "Outfit", sans-serif;
    width: 343px;
    height: 112px;
    color: var(--gray);
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.75rem;
}

section.page-header > div.location-box {
    width: 260px;
    height: 72px;
    display: flex;
    margin-left: -85px;
}

section.page-header > div.location-box > p.our-location {
    width: 204px;
    height: 72px;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2272rem;
}

section.page-header > div.location-box > div.chevron-container {
    width: 56px;
    height: 72px;
    background-color: var(--rust);
    display: flex;
    justify-content: center;
    align-items: center;
}

section.page-header > div.location-box > div.chevron-container > img.location-chevron {
    width: 8px;
    height: 24px;
}

/* Page images */

section.main-gallery-content {
    width: 343px;
    height: 1605px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
}

section.main-gallery-content > div.gallery-image-one {
    background: url("./assets/mobile/image-grid-1.jpg");
    width: 343px;
    height: 320px;
}

section.main-gallery-content > div.gallery-info {
    max-width: 100%;
    height: 223px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.main-gallery-content > div.gallery-info > h2.gallery-info-title {
    width: 343px;
    height: 90px;
    font-weight: 900;
    font-size: 3.125rem;
    line-height: 2.815rem;
    text-transform: uppercase;
    color: var(--black);
}

section.main-gallery-content > div.gallery-info > p.gallery-info-text {
    width: 343px;
    height: 112px;
    font-family: "Outfit";
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--gray);
}

section.main-gallery-content > div.gallery-image-two {
    background: url("./assets/mobile/image-grid-2.jpg");
    width: 343px;
    height: 480px;
}

section.main-gallery-content > div.gallery-image-three {
    background: url("./assets/mobile/image-grid-3.jpg");
    width: 343px;
    height: 200px;
}

section.main-gallery-content > div.gallery-info-footer {
    width: 343px;
    height: 293px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

section.main-gallery-content > div.gallery-info-footer > h3.gallery-footer-title {
    width: 295px;
    height: 90px;
    font-weight: 900;
    font-size: 3.125rem;
    line-height: 2.8125rem;
    text-transform: uppercase;
    color: var(--white);
}

section.main-gallery-content > div.gallery-info-footer > p.gallery-footer-text {
    width: 295px;
    height: 84px;
    font-family: "Outfit";
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--white);
}

/* Page footer */

footer.page-footer {
    width: 375px;
    height: 336px;
    margin: 80px auto 0px auto;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 40px;
}

footer.page-footer > h4.footer-title {
    width: 110.05px;
    height: 40px;
    font-weight: 900;
    color: var(--white);
    text-transform: uppercase;
    font-size: 1.25rem;
    line-height: 1.25rem;
}

footer.page-footer > p.footer-text {
    width: 311px;
    height: 104px;
    font-family: "Outfit";
    font-weight: 300;
    font-size: 1rem;
    color: var(--white);
    line-height: 1.625rem;
}

footer.page-footer > div.socials {
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer.page-footer > div.socials > img.facebook {
    width: 20px;
    height: 20px;
}

footer.page-footer > div.socials > img.instagram {
    width: 20px;
    height: 20px;
}

footer.page-footer > div.socials > img.twitter {
    width: 20px;
    height: 16.25px;
}

@media only screen and (min-width: 650px) {

    /* Header */

section.page-header {
    max-width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    background: url("./assets/tablet/image-hero.jpg") no-repeat, var(--white);
}

section.page-header > div.header-img {
    background: none;
    height: 0;
    width: 0;
}

section.page-header > h1.page-title {
    width: 339px;
    height: 130px;
    font-size: 4.375rem;
    line-height: 4.0265rem;
    margin-left: 350px;
    margin-top: -50px;
}

section.page-header > p.header-text {
    width: 339px;
    height: 112px;
    margin-left: 350px;
}

section.page-header > div.location-box { 
    margin-left: 270px;
}

/* Page images */

section.main-gallery-content {
    width: 689px;
    height: 1131px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
}

section.main-gallery-content > div.gallery-image-one {
    background: url("./assets/tablet/image-grid-1.jpg");
    width: 398px;
    height: 400px;
    order: 1;
}

section.main-gallery-content > div.gallery-info {
    width: 223px;
    height: 299px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    order: 0;
}

section.main-gallery-content > div.gallery-info > h2.gallery-info-title {
    width: 223px;
    height: 135px;
}

section.main-gallery-content > div.gallery-info > p.gallery-info-text {
    width: 223px;
    height: 140px;
}

section.main-gallery-content > div.gallery-image-two {
    background: url("./assets/tablet/image-grid-2.jpg");
    width: 398px;
    height: 720px;
    order: 2;
}

section.main-gallery-content > div.gallery-image-three {
    background: url("./assets/tablet/image-grid-3.jpg");
    width: 280px;
    height: 313px;
    align-self: flex-start;
    order: 3;
}

section.main-gallery-content > div.gallery-info-footer {
    width: 280px;
    height: 396px;
    order: 4;
    position: absolute;
    right: 0;
    bottom: 0;
}

section.main-gallery-content > div.gallery-info-footer > h3.gallery-footer-title {
    width: 223px;
    height: 90px;
}

section.main-gallery-content > div.gallery-info-footer > p.gallery-footer-text {
    width: 223px;
    height: 112px;
    font-family: "Outfit";
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--white);
}

/* Page footer */

footer.page-footer {
    width: 768px;
    height: 216px;
    margin: 80px auto 0px auto;
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 0;
    padding-top: 60px;
}

footer.page-footer > p.footer-text {
    width: 281px;
    height: 104px;
    font-family: "Outfit";
    font-weight: 300;
    font-size: 1rem;
    color: var(--white);
    line-height: 1.625rem;
}

footer.page-footer > div.socials {
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer.page-footer > div.socials > img.facebook {
    width: 20px;
    height: 20px;
}

footer.page-footer > div.socials > img.instagram {
    width: 20px;
    height: 20px;
}

footer.page-footer > div.socials > img.twitter {
    width: 20px;
    height: 16.25px;
}
}

/* Desktop styling */

@media only screen and (min-width: 900px) {
    body {
        width: 1439px;
        height: 2554px;
    }

    /* Header */

section.page-header {
    position: relative;
    width: 1275px;
    height: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, 
    var(--white) 0%, var(--white) 50%, var(--black) 50%, var(--black) 100%);
}

section.page-header > div.header-img {
    position: absolute;
    background: url("./assets/desktop/image-hero.jpg") no-repeat;
    background-size: 450px 700px;
    height: 700px;
    width: 450px;
    left: 400px;
}

section.page-header > h1.page-title {
    position: absolute;
    left: -239px;
    top: 210px;
    width: 514px;
    height: 176px;
    font-size: 6rem;
    line-height: 5.5rem;
    margin-left: 350px;
    margin-top: -50px;
    z-index: 1;
    background: -webkit-linear-gradient(left, white 0%, white 56%, black 56%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.page-header > p.header-text {
    position: absolute;
    top: 160px;
    left: 430px;
    font-size: 1.375rem;
    line-height: 2rem;
    width: 350px;
    height: 160px;
    z-index: 1;
}

section.page-header > div.location-box { 
    position: absolute;
    top: 370px;
    left: 508px;
    margin-left: 270px;
    z-index: 1;
}

/* Page images */

section.main-gallery-content {
    width: 1110px;
    max-height: 100%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
}

section.main-gallery-content > div.gallery-image-one {
    background: url("./assets/desktop/image-grid-1.jpg");
    width: 635px;
    height: 400px;
    order: 1;
    margin-bottom: 15px;
}

section.main-gallery-content > div.gallery-info {
    width: 465px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    order: 0;
}

section.main-gallery-content > div.gallery-info > h2.gallery-info-title {
    width: 350px;
    height: 120px;
    font-size: 3.75rem;
    line-height: 3.75rem;
}

section.main-gallery-content > div.gallery-info > h2.gallery-info-title br {
    display: none;
}

section.main-gallery-content > div.gallery-info > p.gallery-info-text {
    width: 350px;
    height: 128px;
    font-size: 1.375rem;
    line-height: 2rem;
}

section.main-gallery-content > div.gallery-image-two {
    background: url("./assets/desktop/image-grid-2.jpg");
    width: 635px;
    height: 720px;
    order: 2;
}

section.main-gallery-content > div.gallery-image-three {
    background: url("./assets/desktop/image-grid-3.jpg");
    width: 445px;
    height: 313px;
    align-self: flex-start;
    order: 3;
}

section.main-gallery-content > div.gallery-info-footer {
    width: 445px;
    height: 377px;
    order: 4;
    position: absolute;
    right: 0;
    bottom: -15px;
}

section.main-gallery-content > div.gallery-info-footer > h3.gallery-footer-title {
    width: 350px;
    height: 120px;
    font-size: 3.75rem;
    line-height: 3.75rem;
}

section.main-gallery-content > div.gallery-info-footer > p.gallery-footer-text {
    width: 350px;
    height: 96px;
    font-size: 1.375rem;
    line-height: 2rem;
}

/* Page footer */

footer.page-footer {
    width: 1440px;
    height: 244px;
    margin: 80px auto 0px auto;
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 165px;
    padding-right: 165px;
    padding-top: 80px;
}

footer.page-footer > h4.footer-title {
    width: 159.57px;
    height: 80px;
    font-size: 2rem;
    line-height: 2rem;
}

footer.page-footer > p.footer-text {
    width: 430px;
    height: 84px;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
}